/*
	Style for popup.html

*/

body {
       font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
       font-size: 100%;
}

textarea {

    outline: none;
}

#content {

    text-align: left;
}
